.main{
    width: 100vw;
    height: 100vh;
}

.grid{
    width: 1800px;
    height: 900px;
    background-color: #010112;
}

.node{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    opacity: 0.0;
    background-color: #817e7e;
    z-index: 1;
}

.node:hover{
    opacity: 0.8;
    cursor: pointer;
}

.canvasElement{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}